### RESOLUÇÃO - MÉTODOS E FUNÇÕES

In [ ]:
def listapar():
    for i in range (2,21,2):
        print(i)
listapar()

In [ ]:
def listapar ():
    for i in range (2,21,2):
        print(i)
listapar()

In [ ]:
def string (arg):
    print (arg.upper())
    return
string('Teste')

In [ ]:
def string (argumento):
    print(argumento.upper())
    return
string('argumento')

In [2]:
def string (argumento):
    print(argumento.lower())
    return
string('ARGUMENTO')

argumento

In [4]:
# REVER VÍDEO AULA!!

def lista_nova (lista):
    print(lista.append(5))
    print(lista.append(6))
    
lista1 = [1,2,3,4]
lista_nova(lista1)
print(lista1)

None
None
[1, 2, 3, 4, 5, 6]

In [6]:
def num (argumento1, *lista):
    print(argumento1)
    for i in lista:
        print(i)
    return;

num(100)
num('A','B','C')

100
A
B
C

In [7]:
soma = lambda num1, num2: num1 + num2
print('SOMA =', soma(3,9))

SOMA = 12

In [8]:
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2; 
    print ("Dentro da função o total é: ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

In [9]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x:(float ((9) /5) * x) + 32, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

In [11]:
dicionario = {'Arroz':'1','Feijão':'2'}
dir(dicionario)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [14]:
import pandas as pd
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [15]:
#ATENÇÃO:
import pandas as pd
file_name = "binary.csv"

def retornaArq(file_name):
    df = pd.read_csv(file_name)
    return df.describe()
    
retornaArq(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000