# <font color='pink'>Data Science Academy - Python Fundamentos - Capítulo 3</font>

### LOOP FOR

In [2]:
# CRIANDO UMA TUPLA E IMPRIMINDO CADA UM DOS VALORES
tupla = (1,2,3)
for i in tupla:
    print(i)

1
2
3

In [3]:
# CRIANDO UMA LISTA E IMPRIMINDO CADA UM DOS VALORES
lista = ['Leite','Ovos', 'Trigo','Chocolate','Manteiga']
for i in lista:
    print(i)

Leite
Ovos
Trigo
Chocolate
Manteiga

In [5]:
# IMPRIMINDO OS VALORES NO INTERVALO ENTRE 0 E 5 (EXCLUSIVE)
for contador in range (0,5):
    print (contador)

0
1
2
3
4

In [6]:
for contador in range (0,10):
    print (contador)

0
1
2
3
4
5
6
7
8
9

In [7]:
for contador in range (-10,10):
    print (contador)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [8]:
# IMPRIMINDO NA TELA OS NÚMEROS PARES DA LISTA DE NÚMEROS

lista = [1,2,3,4,5,6,7,8,9]
for num in lista:
    if num %2 == 0:
        print(num)

2
4
6
8

In [9]:
lista = [2,4,6,8,10,12]
for num in lista:
    if num %2 ==0:
        print(num)

2
4
6
8
10
12

In [10]:
lista = [1,3,5,7,9]
for num in lista:
    if num %2 ==0:
        print(num)

In [11]:
# LISTANDO OS NÚMEROS NO INTERVALO ENTRE 0 E 101, COM INCREMENTO EM 2

for i in range (0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [12]:
for i in range (0,21,5):
    print(i)

0
5
10
15
20

In [13]:
# STRINGS TAMBÉM SÃO SEQUÊNCIAS

for caracter in 'Python é uma linguagem de programação divertida!':
    print(caracter)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

d
i
v
e
r
t
i
d
a
!

In [14]:
for nome in 'DOCTOR WHO':
    print(nome)

D
O
C
T
O
R

W
H
O

### LOOPS ANINHADOS

In [15]:
for i in range(0,5):
    for a in range(0,5):
        print(a)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

In [16]:
for i in range(0,4):
    for a in range(0,10):
        print(a)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [18]:
# OPERANDO OS VALORES DE UMA LISTA COM LOOP FOR

lista = [1,2,3]
soma = 0
for i in lista:
    double_i = i * 2
    soma += double_i
print(soma)

12

In [19]:
# LOOPS EM LISTA DE LISTAS

listas = [[1,2,3],[4,5,6],[7,8,9]]
for valor in listas:
    print(valor)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [20]:
# CONTANDO OS ITENS DE UMA LISTA

lista = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in lista:
    count+=1
print(count)

10

In [25]:
# CONTANDO O NÚMERO DE COLUNAS

lista = [[1,2,3],[4,5,6,7,8],[9,10,11,12]]
primeira_linha = lista[0]
count = 0
for coluna in primeira_linha:
    count = count + 1
print(lista)
print(count)

[[1, 2, 3], [4, 5, 6, 7, 8], [9, 10, 11, 12]]
3

In [38]:
# PESQUISANDO EM LISTAS

lista = [3,6,9,12]

# LOOP PELA LISTA

for item in lista:
    if item == 3:
      print('Número encontrado na lista')

Número encontrado na lista

In [39]:
# LISTANDO AS CHAVES DE UM DICIONÁRIO

dict = {'k1':'Python','k2':'R','k3': 'Scala'}
for item in dict:
    print(item)

k1
k2
k3

In [40]:
# IMPRIMINDO CHAVE E VALOR DO DICIONÁRIO, USANDO O MÉTODO ITEMS () PARA RETORNAR OS ITENS DE UM DICIONÁRIO

for k, v in dict.items():
    print(k,v)

k1 Python
k2 R
k3 Scala